<body class="text-center">
    <%= form_with scope: :session, url: login_path, local: true, class: "form-signin" do |f| %>
    <%= flash[:alert] %>

    <h1 class="h3 mb-3 font-weight-normal">ログイン画面</h1>

    <%= f.label :account_id, class: "sr-only" %>
    <%= f.text_field :account_id, required: true, class: "form-control", placeholder: "AccountID" %>

    <%= f.label :email, class: "sr-only"  %>
    <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email address"   %>


    <%= f.label :password, class: "sr-only"  %>
    <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>

    <div class="checkbox mb-3">
        <%= f.label :remember_me, class:"checkbox" do %>
        <%= f.check_box :remember_me %>
        <span>コンピュータに保存</span>
        <% end %>
    </div>

    <p><%= link_to 'パスワードをお忘れ,または変更する', forgot_path %></p>

    <%= f.submit 'ログインする', class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
</body>