<body>
    <div class="page-header text-center">
        <h1>Signup for Firm</h1>
    </div>
    <br>
    <br>
    
    <div class="container">
        <div class="card card-container">

            <%= form_with model: @user, url:  signup_firm_path, local: true, class: "form-signin mb10" do |f| %>

            <%= f.label :belonging, class: "sr-only" %>
            <%= f.text_field :belonging, required: true, class: "form-control", placeholder: "所属大学,法人" %>
            <br>

            <%= f.label :email, class: "sr-only"  %>
            <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email address"   %>
            <br>


            <%= f.label :password, class: "sr-only"  %>
            <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
            <br>

            <%= f.label :password_confirmation, class: "sr-only"  %>
            <%= f.password_field :password_confirmation, required: true, class: "form-control", placeholder: "Password confirmation"  %>
            <br>

            <%= f.submit '登録する', class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
        </div>
    </div>
</body>