<%
=begin%>
<p id="notice"><%= notice %></p>
<%
=end%>

<div class="container">
    <p>
        <strong>タイトル:</strong>
        <%= @event.title %>
    </p>

    <p>
        <strong>内容:</strong>
        <%= @event.body %>
    </p>

    <p>
        <strong>開始:</strong>
        <%= @event.start %>
    </p>

    <p>
        <strong>終了:</strong>
        <%= @event.end %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
</div>