<div class="container-fluid">
        <h1 class="h1-title text-center">投稿一覧</h1>
        <div class="newPost">
            <% if current_user.admin? %>
            <div class="btn-new">
              <button class="btn btn-outline-info btn-lg"><%= link_to '新規作成', new_post_path %></button>
            </div>
            <% end %>
        </div>

        <div class="border"></div>

        <div class="posts">
            <div class="card-columns">
                <% @posts.each do |post| %>
                <div class="col">
                    <div class="card border-primary mb-3 text-center">
                        <div class="card-header text-white bg-white border-primary">
                            <% @firm.each do |firm| %>
                            <% if firm.name == post.firm_name %>
                            <%= image_tag firm.firm_sambnail.variant(resize_to_fill: [400, 350] ).processed %>
                            <% end %>
                            <% end %>
                        </div>
                        <%= link_to post do %>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= post.title %>
                            </h5>
                            <p>
                                投稿日: <%= post.created_at %>
                            </p>
                        </div>
                        <% end %>
                        <div class="card-footer">
                            <p>
                                <%= post.firm_name %>
                            </p>
                            <% if current_user.admin? %>
                            <button class="btn btn-outline-info btn-block "><%= link_to '消去する', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="paginate">
                <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
            </div>
        </div>
</div>