<div class="container">
    <%
=begin%>
    <p id="notice"><%= notice %></p>
    <%
=end%>

    <p>
        <strong>Title:</strong>
        <%= @post.title %>
    </p>
    <%= @post.content %>

    <% if current_user.admin? %>
    <%= link_to '編集', edit_post_path(@post) %> |
    <% end %>
    <%= link_to '投稿一覧', posts_path %>
</div>