<body class="text-center">

    <%= form_with model: @personal, url: personal_path,  local: true do |f|  %>

    <h1 class="h3 mb-3 font-weight-normal"><%= @personal.name %>-編集</h1>


    <%= f.label :プロフィール画像, class: "sr-only" %>
    <%= f.attachment_field :profile_image, required: true%>

    <%= f.label :プロフィール, class: "sr-only" %>
    <%= f.text_area :profile, value: @personal.profile, required: true, class: "form-control" %>


    <p><%= f.submit '変更', class: "btn btn-lg btn-primary btn-block" %></p>


    <% end %>
</body>