<div class="container">
    <%= image_tag @personal.firm_sambnail.variant(resize_to_limit: [100, 100] ), class: "rounded-circle" %>
    <div class="h1">
        <strong>
            <%= @personal.name %>-詳細
        </strong>
    </div>
    <% if current_user.id == @personal.id %>
    <div class="edit-positon">
        <button class="btn  btn-outline-info  btn-sm">
            <h6>
                <%= link_to '編集', edit_personal_path(@personal) %>
            </h6>
        </button>
    </div>
    <div class="border"></div>



    <table class="table table-borderless">
        <thead>
            <tr>
                <% unless @personal.name == @personal.belonging %>
                <th scope="col">
                    <div class="h5"><strong>氏名</strong></div>
                </th>
                <% end %>
                <th scope="col">
                    <div class="h5"><strong>所属先</strong></div>
                </th>
                <th scope="col">
                    <div class="h5"><strong>メールアドレス</strong></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% unless @personal.name == @personal.belonging %>
                <td>
                    <div class="h5">
                        <%= @personal.name %>
                    </div>
                </td>
                <% end %>
                <td>
                    <div class="h5">
                        <%= @personal.belonging %>
                    </div>
                </td>
                <td>
                    <div class="h5">
                        <%= @personal.email %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <% end %>

    <% if @posts.present? %>
    <h1>投稿一覧</h1>
    <div class="row">
        <% @posts.each do |post| %>
        <div class="col-3">
            <div class="card">
                <%= link_to post do %>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>
                    <p>
                        投稿日: <%= post.created_at %>
                    </p>
                </div>
                <% end %>
                <div class="card-footer">
                    <p>
                        <%= post.firm_name %>
                    </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>

    <% if current_user.id == @personal.id && @posts.blank? && @firm.present? %>
    <h3>いいねした企業</h3>
        <% @firm.each do |firm| %>

            <%= firm.firm_name %>
        <% end %>  
    <% end %>

    <br>
    <br>
    <% if @posts.present? && @like_user.present? %>

        <%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>  
        <div class="row">
            <div class="col">
                <h3>所属学部・学科</h3>
                <%= pie_chart @like_user.group(:department).count %>
            </div>
            <div class="col">
                <h3>出身地</h3>
                <%= pie_chart @like_user.group(:birthplace).count %>
            </div>
        </div>
    <% end %>
</div>