<div class="container-fluid">
    <div class="row">
        <div class="col">
            <%= image_tag @personal.firm_sambnail.variant(resize_to_fill: [120, 120] ), class: "rounded-circle" %>
        </div>
        <div class="col">
            <div class="h1">
                <strong>
                    <%= @personal.name %>
                </strong>
            </div>
        </div>
        <% if current_user.id == @personal.id %>
        <div class="col">
            <button class="btn  btn-outline-info  btn-sm">
                <h6>
                    <%= link_to '編集', edit_personal_path(@personal) %>
                </h6>
            </button>
        </div>
    </div>


    <br>
    <table class="tbl" width="100%">
        <% unless @personal.name == @personal.belonging %>
        <tr>
            <th>氏名</th>
            <td><%= @personal.name %></td>
        </tr>
        <% end %>
         <tr>
            <th>所属</th>
            <td><%= @personal.belonging %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%= @personal.email %></td>
        </tr>
         <tr class="last">
            <th>投稿数</th>
            <td><%= @posts_count %></td>
        </tr>
    </table>
    <% end %>

    <br>
    <% if @posts.present? %>
    <h1>投稿一覧(最新の投稿4件を表示)</h1>

    <br>
    <div class="row">
        <% @posts.each do |post| %>
        <div class="col-3">
            <div class="card text-center">
                <%= link_to post do %>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>
                </div>
                <% end %>
                <div class="card-footer">
                    <p>
                        投稿日: <%= post.created_at %>
                    </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>

いいねした企業を暫定的に非表示(2021/03/30)
    <%
=begin%>
 <% if current_user.id == @personal.id && @posts.blank? && @firm.present? %>
    <h1>いいねした企業</h1>
        <% @firm.each do |firm| %>

            <%= firm.firm_name %>
        <% end %>  
    <% end %> 
<%
=end%>

    <br>
    <br>
    <% if @posts.present? && @like_user.present? %>

        <%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>  
        <div class="row">
            <div class="col">
                <h3>所属学部・学科</h3>
                <%= pie_chart @like_user.group(:department).count %>
            </div>
            <div class="col">
                <h3>出身地</h3>
                <%= pie_chart @like_user.group(:birthplace).count %>
            </div>
        </div>
    <% end %>
</div>