<div class="container">
    <div class="h1">
        <strong>
            <%= @personal.name %>-詳細
        </strong>
    </div>
    <div class="edit-positon">
        <button class="btn  btn-outline-info  btn-sm">
            <h6>
                <%= link_to '編集', edit_personal_path(@personal) %>
            </h6>
        </button>
    </div>
    <div class="border"></div>



    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">
                    <div class="h5"><strong>氏名</strong></div>
                </th>
                <th scope="col">
                    <div class="h5"><strong>所属先</strong></div>
                </th>
                <th scope="col">
                    <div class="h5"><strong>メールアドレス</strong></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="h5">
                        <%= @personal.name %>
                    </div>
                </td>
                <td>
                    <div class="h5">
                        <%= @personal.belonging %>
                    </div>
                </td>
                <td>
                    <div class="h5">
                        <%= @personal.email %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>