<section class="hero is-light is-fullheight">
    <div class="hero-head">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        <%= @personal.name %>-詳細
                    </h1>
                </div>
            </div>
        </section>


        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8">
                        <div class="columns is-centered">
                            <div class="column is-4">
                                <figure class="image is-128x128" style="margin-left: auto; margin-right: auto;">
                                    <%= attachment_image_tag @personal, :profile_image, fallback: "no-image-people.jpg", class: "profile_image is-rounded" %>
                                </figure>
                            </div>
                            <div class="column is-8">
                                <table class="table is-fullwidth">
                                    <tr>
                                        <td class="is-size-4">
                                            <strong><%= @personal.name %></strong>
                                        </td>
                                        <td class="is-size-4">
                                            <%= @personal.account_id %>
                                        </td>
                                        <td>
                                            <%= link_to '編集', edit_personal_path(@personal), class: "button is-primary" %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>