<!DOCTYPE html>
<html>

<head>
    <title>SISW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
</head>

<body>
    <% if flash[:notice] %>
    <%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
    <%= alert %></p>
    <% end %>

    　　<nav class="navbar navbar-expand navbar-dark bg-info fixed-top">
        <div class="container-fluid">
            <% if current_user == nil %>
            <h1 class="navbar-brand pb-2">SIS</h1>
            <% else %>
            <h1 class="navbar-brand pb-2">Sharing Information at school</h1>
            <% end %>

            <ul class="navbar-nav align-self-end">
                <% if current_user != nil %>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to  "チャット", room_path(current_user.id), class: "nav-link" %>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to  "カレンダー", root_path, class: "nav-link"  %>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to '投稿', posts_path, class: "nav-link" %>
                    </button>
                </li>
                <% if current_user.admin? %>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to 'ユーザ一覧', accounts_path, class: "nav-link"%>
                    </button>
                </li>
                <% else %>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to "#{current_user.name}詳細", personal_path(current_user), class: "nav-link"%>
                    </button>
                </li>
                <% end %>
                <% if current_user.admin? %>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to '法人登録', firms_path, class: "nav-link"%>
                    </button>
                </li>
                <%  end %>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link"%>
                    </button>
                </li>
                <% else %>
                　　 <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to 'ログイン', login_path, class: "nav-link"%>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to 'サインアップ(学生)', signup_path, class: "nav-link" %>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="button">
                        <%= link_to 'サインアップ(法人)', signup_firm_path, class: "nav-link"%>
                    </button>
                </li>
        </div>
        <% end %>
        </div>
        </ul>
        </div>
    </nav>

    <body data-turbolinks="false">
        <%= yield %>
    </body>

</html>