<!DOCTYPE html>
<html>

<head>
    <title>Syte-SIS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>

<body>

    <%
=begin%>
    <div class="flash">
        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
            <%= msg.html_safe %>
        </div>
        <% end %>
    </div>
    <%
=end%>

    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label class="menu-icon" for="nav-input" onclick="this.classList.toggle('hover');Drop(0)">
        <div class="menu-bar menu-bar1"></div>
        <div class="menu-bar menu-bar2"></div>
        <div class="menu-bar menu-bar3"></div>
    </label>
    <div class="menu">
        <% if current_user != nil %>

        <div class="menu-con" style="background:rgb(255, 198, 92);">
            <a>
                <%= link_to '投稿', posts_path %>
            </a>
        </div>
        <% if current_user.admin? %>
        <div class="menu-con" style="background:rgb(0, 224, 224);">
            <a>
                <%= link_to 'ユーザ一覧', accounts_path %>
            </a>
        </div>
        <% else %>

        <div class="menu-con" style="background:rgb(0, 224, 224);">
            <a>
                <%= link_to "投稿企業一覧", post_firms_path %>
            </a>
        </div>

        <div class="menu-con" style="background:rgb(0, 224, 150);">
            <a>
                <%= link_to "#{current_user.name}詳細", personal_path(current_user) %>
            </a>
        </div>
        <% end %>
        <% if current_user.admin? %>
        <div class="menu-con" style="background:rgb(0, 224, 150);">
            <a>
                <%= link_to '法人登録', firms_path %>
            </a>
        </div>
        <%  end %>
        <div class="menu-con" style="background:rgb(145, 133, 153);">
            <a>
                <%= link_to 'ログアウト', logout_path, method: :delete %>
            </a>
        </div>
        <% else %>
        <div class="menu-con" style="background:IndianRed;">
            <a>
                <%= link_to 'ログイン', login_path %>
            </a>
        </div>
        <div class="menu-con" style="background:teal;">
            <a>
                <%= link_to 'サインアップ(学生)', signup_path %>
            </a>
        </div>
        <div class="menu-con" style="background:mediumseagreen;">
            <a>
                <%= link_to 'サインアップ(法人)', signup_firm_path %>
            </a>
        </div>
        <% end %>
    </div>



    <body data-turbolinks="false">
        <script>
            var open = false;

            function Drop(n) {
                var i;
                if (open == false) {
                    for (i = n; i < 5; i++) {
                        Drp(i)
                    }
                    open = true
                } else if (open == true) {
                    for (i = n; i < 5; i++) {
                        Cls(i)
                    }
                    open = false
                }
            }

            function Drp(n) {
                var elem = document.getElementsByClassName("menu-con")[n];
                var pos = -1 * window.innerHeight - n * 100;
                var id = setInterval(frame, 5);

                function frame() {
                    if (pos >= -10) {
                        clearInterval(id);
                        elem.style.top = 0 + 'px';
                    } else {
                        pos += 10;
                        elem.style.top = pos + 'px';
                    }
                }
            }

            function Cls(n) {
                var elems = document.getElementsByClassName("menu-con")[n];
                var poss = 0;
                var ids = setInterval(frames, 5);

                function frames() {
                    if (poss <= -1 * window.innerHeight) {
                        clearInterval(ids);
                        elems.style.top = -1 * window.innerHeight + 'px';
                    } else {
                        poss += -7 - n * 2;
                        elems.style.top = poss + 'px';
                    }
                }
            }
        </script>
    </body>
    <%= yield %>

</html>